<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BookMapper">

    <select id="selectBookAll" resultType="po.Book">
        select * from book where 1=1
        <if test="b_name!=null and b_name!='' ">
            and b_name like concat('%',#{b_name},'%')
        </if>
        <if test="b_name!=null and b_name!='' ">
            and b_author like concat('%',#{b_author},'%')
        </if>
    </select>

    <select id="selectBookByLeixing" resultType="po.Book">
        select * from book where b_leixing;
    </select>
</mapper>