

/*定义<body>标记样式*/

body {

    background: #ffffff;

    color: #111111;

    font-family: Georgia, "Times New Roman", Times, serif;

    padding-left: 20px;

    

}

/*定义付费内容的样式*/

form#payment {

    background: #D1E1F0;

    -webkit-border-radius: 5px;

    border-radius: 5px;

    padding: 20px;

    width: 600px;

    margin:auto;
    
    text-align:center

}

form#payment fieldset {

    border: none;

    margin-bottom: 10px;

}

form#payment fieldset:last-of-type { margin-bottom: 0; }

form#payment legend {

    color: #384313;

    font-size: 16px;

    font-weight: bold;

    padding-bottom: 10px;

    text-shadow: 0 1px 1px #c0d576;

}

form#payment > fieldset > legend:before {

    content: "Step : ";
}

form#payment fieldset fieldset legend {

    color: #111111;

    font-size: 13px;

    font-weight: normal;

    padding-bottom: 0;

}

form#payment ol li {

    background: #b9cf6a;

    background: rgba(255, 255, 255, .3);

    border-color: #e3ebc3;

    border-color: rgba(255, 255, 255, .6);

    border-style: solid;

    border-width: 2px;

    -webkit-border-radius: 5px;

    line-height: 30px;

    list-style: none;

    padding: 5px 10px;

    margin-bottom: 2px;

}

form#payment ol ol li {

    background: none;

    border: none;

    float: left;

}

form#payment label {

    float: left;

    font-size: 13px;

    width: 110px;

}

form#payment fieldset fieldset label {

    background: none no-repeat left 50%;

    line-height: 20px;

    padding: 0 0 0 30px;

    width: auto;

}

form#payment fieldset fieldset label:hover { cursor: pointer; }

form#payment input:not([type=radio]), form#payment textarea {

    background: #ffffff;

    border: #FC3 solid 1px;

    -webkit-border-radius: 3px;

    font: italic 13px Georgia, "Times New Roman", Times, serif;

    outline: none;

    padding: 5px;

    width: 200px;

}

form#payment input:not([type=submit]):focus, form#payment textarea:focus {

    background: #eaeaea;

    border: #F00 solid 1px;

}

form#payment input[type=radio] {

    float: left;

    margin-right: 5px;

}form#payment select:not([type=radio]), form#payment textarea {

    background: #ffffff;

    border: #FC3 solid 1px;

    -webkit-border-radius: 3px;

    font: italic 13px Georgia, "Times New Roman", Times, serif;

    outline: none;

    padding: 5px;

    width: 200px;

}

form#payment select:not([type=submit]):focus, form#payment textarea:focus {

    background: #eaeaea;

    border: #F00 solid 1px;

}

form#payment select[type=radio] {

    float: left;

    margin-right: 5px;

}