<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BSJ.BUserMapper">
	<update id="updateUser" parameterType="po.BSJ.BUser">
	update userInfo set u_name=#{u_name},u_password=#{u_password},u_sex=#{u_sex},u_address=#{u_address} where u_id=#{u_id}
	</update>

<!--	<select id="queryUserById" parameterType="Integer" resultMap="ResultUser">
		select userInfo.*,book.*,typez.t_type from userInfo,bookshelf,book,book_type,typez
          where userInfo.u_id=bookshelf.user_id and bookshelf.book_id=book.b_id
          and book_type.book_id=book.b_id and book_type.type_id=typez.t_id
          and u_id={#u_id}
	</select>
	<resultMap id="ResultUser" type="po.BSJ.BUser">
		<id property="u_id" column="b_id"/>
		<result property="u_name" column="u_name"/>
		<result property="u_password" column="u_pawword"/>
		<result property="u_sex" column="u_sex"/>
		<result property="u_forbid" column="u_forbid"/>
		<result property="u_address" column="u_address"/>

		<collection property="bookList" ofType="po.BSJ.BBook" column="b_id">
			<id property="id" column="b_id" />
			<result property="b_cover" column="b_cover" />
			<result property="b_name" column="b_name" />
			<result property="b_author" column="b_author" />
		</collection>
		<collection property="bookTypeList" ofType="po.BSJ.BBookType" column="type_id">
			<id property="t_id" column="t_id" />
			<result property="t_type" column="t_type"/>
		</collection>
	</resultMap> -->
	<select id="queryUserById" parameterType="Integer" resultType="po.BSJ.BUser">
		select * from userInfo where u_id=#{u_id}
	</select>

	<select id="queryShelfById" parameterType="Integer" resultType="po.BSJ.BBookShelf">
		select * from bookshelf where user_id=#{user_id}
	</select>

	<select id="selectBookById" parameterType="Integer" resultType="po.BSJ.BBook">
		select b_id,b_name,b_author,b_cover,b_content from book
		<where>
			<if test="b_id != 0 and b_id != null">
				and b_id=#{b_id}
			</if>
		</where>
	</select>

	<select id="getTypeId" parameterType="Integer" resultType="Integer">
        select type_id from book_type where book_id=#{book_id}
    </select>

	<select id="getTypeByTypeId" parameterType="Integer" resultType="String">
        select t_type from typez where t_id=#{t_id}
    </select>

</mapper>