<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ZYM.ZBookMapper">

    <select id="queryBook" parameterType="String" resultType="po.ZYM.ZBook">
        select * from book where b_name like concat('%',#{wenzi},'%')
        or b_author like concat('%',#{wenzi},'%')
    </select>

    <select id="getTypeID" parameterType="Integer" resultType="Integer">
        select type_id from book_type where book_id=#{book_id}
    </select>

    <select id="getTypeByTypeID" parameterType="Integer" resultType="String">
        select t_type from typez where t_id=#{t_id}
    </select>

    <select id="selectAll" parameterType="String" resultType="po.ZYM.ZBook">
        select b_name from book where b_name like concat('%',#{wenzi},'%')
    </select>

    <insert id="addToShelf" parameterType="po.ZYM.ZBookShelf">
        insert into bookshelf(user_id,book_id) values (#{user_id},#{book_id})
    </insert>

    <select id="selectAllType" resultType="po.ZYM.ZBookType">
        select * from typez order by t_id
    </select>

    <select id="selectBookIdByTypeId" parameterType="Integer" resultType="Integer">
        select book_id from book_type where type_id = #{t_id}
    </select>

    <select id="selectBookByBookId" parameterType="Integer" resultType="po.ZYM.ZBook">
        select * from book where b_id = #{book_id}
    </select>

    <select id="getCountOfShelfBook" parameterType="po.ZYM.ZBookShelf" resultType="Integer">
        select count(*) from bookshelf where book_id=#{book_id} and user_id=#{user_id}
    </select>

    <!--根据评论数获取所有长评-->
    <select id="selectLongcomm" resultType="po.ZYM.ZLongComm">
        select * from longcomm order by lc_coment desc;
    </select>
    <!--获取所有用户id-->
    <select id="getUser" resultType="po.ZYM.ZUser">
        select * from userInfo
    </select>
    <!--根据关注id获取粉丝数量-->
    <select id="getCountFans" parameterType="Integer" resultType="Integer">
		select count(*) from guanzhu where guanzhu_userid=#{guanzhu_userid}
	</select>
    <!--获取行数判断是否关注-->
    <select id="getLines" parameterType="po.ZYM.ZGuanzhu" resultType="Integer">
        select count(*) from guanzhu where user_id=#{user_id} and guanzhu_userid=#{guanzhu_userid}
    </select>
    <!--根据user_id和u_id插入-->
    <insert id="guanzhu" parameterType="po.ZYM.ZGuanzhu">
		insert into guanzhu(user_id,guanzhu_userid) values(#{user_id},#{guanzhu_userid})
	</insert>
    <!--随机获取5本书-->
    <select id="getBook" resultType="po.ZYM.ZBook">
        SELECT * FROM book ORDER BY rand() LIMIT 5;
    </select>
    <!--根据b_id获取书架行数-->
    <select id="getCount" resultType="Integer" parameterType="Integer">
        select count(*) from bookshelf where book_id=#{book_id}
    </select>
</mapper>


